{% extends 'master.html'%}
{% block title %}  Product | E-Shopper{% endblock%}
{% block body %}
<section>
    <div class="container">
        <div class="row">
            
            
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!-- product-details -->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="/{{ product.image }}" alt="{{ product.name }}" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!-- product-information -->
                                <img src="/static/images/product-details/new.jpg" class="newarrival" alt="New Arrival" />
                                <h2>{{ product.name }}</h2>
                                <img src="/static/images/product-details/rating.png" alt="Rating" class="img-responsive" />
                                <div class="price">
                                    <span style="font-size:40px;color: #FE980F;font-family:sans-serif;font-weight: 700;">₹{{ product.price }}</span>
                                </div>
                                <div></div>
                                <form method="post" action="{% url 'cart_add' product.id %}">
                                    {% csrf_token %}
                                    <div class="size" style="font-size:20px;margin-bottom:10px;">
                                        Size:
                                        <select name="size" id="size" class="form-control" style="width:100px;">
                                            {% for size in sizes %}
                                                <option value="{{ size.0 }}">{{ size.1 }}</option>
                                            {% endfor %}
                                        </select> 
                                    </div>
                                    
                                    <button type="submit" class="btn btn-default cart" style="margin-top:10px;margin-left:0px;" target="_blank">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </button>
                                </form>
                                <p><b>Availability:</b> In Stock</p>
                                <p><b>Condition:</b> New</p>
                                <p><b>Brand:</b> {{ product.brand }}</p>
                                <a href="#"><img src="/static/images/product-details/share.png" class="share img-responsive" alt="Share" /></a>
                            </div><!-- /product-information -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /product-details -->
                
                <div class="category-tab shop-details-tab"><!-- category-tab -->
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="reviews">
                                    <div class="col-sm-12">
                                        <p>Review the Product</p>
                                        <p><b>Write Your Review</b></p>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Name" />
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email Address" />
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Your Review"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <b>Rating: </b> <img src="/static/images/product-details/rating.png" alt="Rating" class="img-responsive" />
                                            </div>
                                            <button type="submit" class="btn btn-default pull-right">
                                                Submit
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /row -->
                </div><!-- /category-tab -->
                
            </div><!-- /col-sm-9 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>

{% endblock %}